.product-weight {

    &__block {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__selected {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #202454;
    }

    &__button {
        padding: 14px 12px;
        margin: 8px 8px 8px 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(84, 143, 199, 0.15);
        border-radius: 12px;
        width: 37%;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #202454;

        &--active {
            background: #E77E42;
            color: #FFFFFF;
        }

        &:hover {
            background: #E77E42;
            color: #FFFFFF;

            .product-weight__price {
                color: #FFFFFF;
            }
        }


    }

    &__price {
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #7B94B0;
        margin-left: 2px;

        &--active {
            color: #FFFFFF;
        }
    }
}
