.product-about {
    position: relative;
    display: flex;
    flex-direction: row;

    &__left {
        width: 100%;

        @media (min-width: 768px) {
            width: 42%;
            height: 100%;
            padding-right: 24px;
            box-sizing: border-box;
            position: relative;
        }
    }

    &__right {
        width: 100%;

        @media (min-width: 768px) {
            width: 58%;
            box-sizing: border-box;
        }
    }

    &__block {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    &__body {
        width: 60%;

        &:last-child {
            width: 40%;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;

        span {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #7B94B0;
            margin-right: 12px;
        }
    }


    &__calc {
        width: 120px;
        height: 40px;
        background: #F4F5F8;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #202454;

        &:after {
            content: '\2501';
            position: absolute;
            left: 12px;
        }

        &:before {
            content: '\254B';
            position: absolute;
            right: 12px;
        }
    }

    &__col {
        display: flex;
        margin-bottom: 22px;
    }

    &__chapter {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
        color: #202454;

        span {
            border-bottom: 1px dashed #202454;
            margin-bottom: 2px;
        }
    }

    &__button {
        max-width: 338px;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        margin-left: 16px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #E77E42;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 15px 0;

        &:hover {
            .product-about__txt {
                color: #202454;
            }
        }
    }

    &__txt {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #E77E42;
    }

    &__stock {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }

    &__svg {
        width: 24px;
        height: 24px;
        background: #F4F5F8;
        border-radius: 40px;
        text-align: center;
    }

    &__info {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #202454;
        margin-left: 8px;
        border-bottom: 1px dashed #7B94B0;
    }

    &__del {
    }

    &__item {

        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 12px;
        margin: 8px 0px;
        width: 100%;
        padding: 24px 20px 18px 20px;
    }
}
