.shopping-card {
  display: flex;

  @media (max-width: 400px) {
    display: block;
  }

  &__item {
    position: relative;
    cursor: pointer;
  }

  &__count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    right: -14px;
    top: -7px;
    font-weight: bold;
    font-size: 12px;
    line-height: 85%;
    color: #FFFFFF;
    background-color: #E77E42;
    border-radius: 100%;
    box-sizing: border-box;

    @media (max-width: 450px) {
      right: -10px;
      top: -12px;
      width: 17px;
      height: 17px;
    }
  }
}
