.login-accordion {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 32px;
    &__text {
    }

    &__svg {
    }
}
