.chapter {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 40px;
    padding-top: 16px;

    &__1 {
        color: #7B94B0;
        padding-right: 8px;
    }

    &__2 {
        padding-left: 8px;
        color: #B6B7C4;
    }
}
