.filter-block {
    display: flex;

    &__left {
        width: 17.7%;
        margin-right: 40px;
        @media(max-width: 1300px) {
            width: 21.7%;
        }
        @media(max-width: 1200px) {
            display: none;
        }
    }

    &__right {
        width: 82.3%;
        @media(max-width: 1300px) {
            width: 76.3%;
        }
        @media(max-width: 1200px) {
            width: 100%;
        }
    }

}
